
<table class="table table-success table-striped container">
    <thead>
        <tr>
          <th scope="col">id</th>
          <th scope="col">ISBN</th>
          <th scope="col">Title</th>
          <th scope="col">Author</th>
          <th scope="col">Catagory</th>
          <th scope="col">QTY</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>mdo</td>
        </tr>
      </tbody>
  </table>
